<div class="container-fluid mt-5 about-style" id="contactid">
        <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Contact Us</h1>
            <p class="text-center sub -heading"> We Will Be Happy To Help You </p>
            <div class="row">
                <div class="col-md-6 col-12 mx-auto">



  <!-- Bootstrap 5 starter form -->
  <form action="/contact" method="POST">

    <!-- Name input -->
    <div class="form-group">
      <label  for="exampleInputPassword1">Name</label>
      <input  id="exampleInputPassword1" type="text" placeholder="Name" class="form-control" name="name"/>
    </div>

    <!-- Email address input -->
    <div class="form-group">
      <label class="form-label" for="emailAddress">Email Address</label>
      <input class="form-control" id="emailAddress" type="email" placeholder="Email Address" data-sb-validations="required, email"  name="email"/>
    </div>

     <!-- Phone number input -->
    <div class="form-group">
      <label for="exampleInputPassword1">Phone No</label>
      <input id="exampleInputPassword1" type="number" placeholder="Phone Number" class="form-control" name="phone"/>
    </div>

    <!-- Message input -->
    <div class="form-group">
      <label  for="exampleInputPassword1">Message</label>
      <input type="text" class="form-control" id="exampleInputPassword1 " placeholder="Message" name="message">
    </div>
   
      <button class="btn-style btn-primary" type="submit" style="margin-left: 162px; margin-top: 21px;">Submit</button>

</div>

  </form>

</div>



            </div>
          </div>
        </div>
</div>